@use '../abstracts/variables' as *;

// define colors here case you need to export to JS
:export {
  color-primary: $color-primary;
  color-secondary: $color-secondary;
  color-white: $color-white;
  color-twilight-blue: $color-twilight-blue;
  color-accent: $color-accent;
  color-dark-grey: $color-dark-grey;
  color-dark-grey-1: $color-dark-grey-1;
  color-dove-gray: $color-dove-gray;
  color-medium-gray: $color-medium-gray;
}
