// ================== remove arrows/spinners from input type number===========

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input:required,
input:invalid {
  box-shadow: none;
}

input:focus {
  outline: none;
}
